NET "buttonupp" LOC = P142 | IOSTANDARD = LVTTL | PULLUP;
NET "buttondownn" LOC = P137 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonleftt" LOC = P139 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonrightt" LOC = P141 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonhintt" LOC = P26 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonresett" LOC = P140 | IOSTANDARD = LVTTL | PULLUP;
NET "mydip" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;